:root {
  background-color: #292828 ;
}
html{
  background-color: #292828 ;
}
.mar{
  margin-top: 120px;
}

.b{
  padding: 10px;
}

.b li{
  background-color: #03a7aa;
  margin: 10px;
  border-radius: 10px;
  
}


.blue-b{
  border-color: #03a7aa;
}

.back{
  background-color: #03a7aa;
}




.r{
  background-color: #03a7aa;
}


.g{
  background-color: #292828
}

.t{
  color: white;
}

.a{

}

