:root {
  background-color: #20212b ;
  color: white;
}
html{
  background-color: #20212b ;
}
.mar{
  margin-top: 120px;
}

.b{
  padding: 10px;
}

.b li{
  background-color: #03a7aa;
  margin: 10px;
  border-radius: 10px;
  
}


.green{
  background-color: #24a567;
}


.blue-b{
  border-color: #03a7aa;
}

.back{
  background-color: #106869;
}







.r{
  background-color: #03a7aa;
}


.g{
  background-color: #20212b
}

.t{
  color: white;
}

.a{

}

